In [3]:
from transformers import AutoTokenizer, AutoModelForCausalLM
tokenizer = AutoTokenizer.from_pretrained("NumbersStation/nsql-350M")
model = AutoModelForCausalLM.from_pretrained("NumbersStation/nsql-350M")

text = """CREATE TABLE stadium (
    stadium_id number,
    location text,
    name text,
    capacity number,
    highest number,
    lowest number,
    average number
)

CREATE TABLE singer (
    singer_id number,
    name text,
    country text,
    song_name text,
    song_release_year text,
    age number,
    is_male others
)

CREATE TABLE concert (
    concert_id number,
    concert_name text,
    theme text,
    stadium_id text,
    year text
)

CREATE TABLE singer_in_concert (
    concert_id number,
    singer_id text
)

-- Using valid SQLite, answer the following questions for the tables provided above.

-- What is the maximum, the average, and the minimum capacity of stadiums ?

SELECT"""

input_ids = tokenizer(text, return_tensors="pt").input_ids

generated_ids = model.generate(input_ids, max_length=500)
print(tokenizer.decode(generated_ids[0], skip_special_tokens=True).split('\n')[-1].strip())

The attention mask and the pad token id were not set. As a consequence, you may observe unexpected behavior. Please pass your input's `attention_mask` to obtain reliable results.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

SELECT MAX(capacity), AVG(capacity), MIN(capacity) FROM stadium;

In [11]:
text = """CREATE TABLE stadium (
    stadium_id number,
    location text,
    name text,
    capacity number,
    highest number,
    lowest number,
    average number
)

CREATE TABLE singer (
    singer_id number,
    name text,
    country text,
    song_name text,
    song_release_year text,
    age number,
    is_male others
)

CREATE TABLE concert (
    concert_id number,
    concert_name text,
    theme text,
    stadium_id text,
    year text
)

CREATE TABLE singer_in_concert (
    concert_id number,
    singer_id text
)

-- {}

SELECT"""

input_ids = tokenizer(text, return_tensors="pt").input_ids

generated_ids = model.generate(input_ids, max_length=500)
print(tokenizer.decode(generated_ids[0], skip_special_tokens=True))

The attention mask and the pad token id were not set. As a consequence, you may observe unexpected behavior. Please pass your input's `attention_mask` to obtain reliable results.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

CREATE TABLE stadium (
    stadium_id number,
    location text,
    name text,
    capacity number,
    highest number,
    lowest number,
    average number
)

CREATE TABLE singer (
    singer_id number,
    name text,
    country text,
    song_name text,
    song_release_year text,
    age number,
    is_male others
)

CREATE TABLE concert (
    concert_id number,
    concert_name text,
    theme text,
    stadium_id text,
    year text
)

CREATE TABLE singer_in_concert (
    concert_id number,
    singer_id text
)

-- how many singers are girls?

SELECT COUNT(*) FROM singer WHERE is_male = 'F';

In [25]:
# %pip install mysql-connector-python

### Get table schema for LLM model

In [9]:
import mysql.connector
from transformers import AutoTokenizer, AutoModelForCausalLM
tokenizer = AutoTokenizer.from_pretrained("NumbersStation/nsql-350M")
model = AutoModelForCausalLM.from_pretrained("NumbersStation/nsql-350M")
# tokenizer = AutoTokenizer.from_pretrained("NumbersStation/nsql-llama-2-7B")
# model = AutoModelForCausalLM.from_pretrained("NumbersStation/nsql-llama-2-7B")
max_tables = 5

# Connect to MySQL server
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="g3gj3cgz",
    database="code_llm"
)
cursor = conn.cursor()

# Get a list of tables in the database
cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()

string = ''
# Loop through each table
for table in tables:
    table_name = table[0]
    string += f"CREATE TABLE {table_name} (\n" 
    # print(f"CREATE TABLE {table_name} (")

    # Get column information for the table
    cursor.execute(f"SELECT column_name, data_type, character_maximum_length FROM information_schema.columns WHERE table_name = '{table_name}';")
    columns = cursor.fetchall()
    
    # print(columns)
    
    # Loop through each column and print its definition
    for idx, column in enumerate(columns):
        # if idx == max_tables:
        #     break
        column_name = column[0]
        data_type = column[1]
        character_maximum_length = column[2]

        # If the data type has a maximum length, include it in the definition
        if character_maximum_length:
            string += f"    {column_name} {data_type}({character_maximum_length}),\n" 
            # print(f"    {column_name} {data_type}({character_maximum_length}),")
        else:
            string += f"    {column_name} {data_type},\n"
            # print(f"    {column_name} {data_type},")

    string += ")\n\n"
    # print(");")
    # print()

# Close cursor and connection
cursor.close()
conn.close()

question = "how many customers have order prices greater than 10000"
string += '\n\n' + '-- ' + question + '\n\n' +'SELECT'
# print(string)

input_ids = tokenizer(string, return_tensors="pt").input_ids

generated_ids = model.generate(input_ids, max_length=500)
print(tokenizer.decode(generated_ids[0], skip_special_tokens=True))
# print(tokenizer.decode(generated_ids[0], skip_special_tokens=True).split("\n")[-1])

The attention mask and the pad token id were not set. As a consequence, you may observe unexpected behavior. Please pass your input's `attention_mask` to obtain reliable results.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

CREATE TABLE customers (
    customerNumber int,
    customerName varchar(50),
    contactLastName varchar(50),
    contactFirstName varchar(50),
    phone varchar(50),
)

CREATE TABLE employees (
    employeeNumber int,
    lastName varchar(50),
    firstName varchar(50),
    extension varchar(10),
    email varchar(100),
)

CREATE TABLE offices (
    officeCode varchar(10),
    city varchar(50),
    phone varchar(50),
    addressLine1 varchar(50),
    addressLine2 varchar(50),
)

CREATE TABLE orderdetails (
    orderNumber int,
    productCode varchar(15),
    quantityOrdered int,
    priceEach decimal,
    orderLineNumber smallint,
)

CREATE TABLE orders (
    orderNumber int,
    orderDate date,
    requiredDate date,
    shippedDate date,
    status varchar(15),
)

CREATE TABLE payments (
    customerNumber int,
    checkNumber varchar(50),
    paymentDate date,
    amount decimal,
)

CREATE TABLE productlines (
    productLine varchar(50),
    textDescription varchar(4000),
    htmlDescription mediumtext(16777215),
    image mediumblob(16777215),
)

CREATE TABLE products (
    productCode varchar(15),
    productName varchar(70),
    productLine varchar(50),
    productScale varchar(10),
    productVendor varchar(50),
)



-- how many customers have order prices greater than 10000

SELECT COUNT(DISTINCT customerNumber) FROM customers WHERE priceEach > 10000;